/* SCHRIFTART */

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Colours */

.btn-primary {
  background-color: #005293!important;
  border-color: #005293!important;
}

.text-danger, .bg-danger {
  color: #CC1A14!important;
}

.text-warning, .bg-warning {
  color: #FFB114!important;
}

.text-success, .bg-success {
  color: #019B72!important;
}

a {
  color: #006dc1!important;
}

/* summary text */

#summary_list {
  font-size: 0.8rem;
}

.winner {
  font-weight: bold;
}

/* Hide buttons */

#startGame, #startTurn, #newGame, #waiting, #showSummary {
  display: none;
}

#cards, #summary {
  display: none;
}

#computercard, #playercard {
  min-width: 250px;
}

/* Place cards behind each other on mobile */

@media only screen and (max-width: 576px) {
  #playercard {
    z-index: 10;
    position: relative;
    top: 50px;
    max-width: 250px;
  }

  #computercard {
    z-index: 5;
    position: relative;
    left: -155px;
    max-width: 250px;
  }

  #buttons {
    margin-top: 50px;
  }


}

.card-deck {
  overflow: visible!important;
}

.scrolling-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.transparent-list .list-group-item {
  background-color: transparent!important;
  color: transparent!important;
  border: 0;
}

.flag {
  width: 2em;
  height: 1.5em;
}

/* Flip-Animation */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
}

/* front pane, placed above back */
.front {
	/* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  z-index: 2;
	transform: rotateY(180deg);
  background: url("../img/cardback.jpg") center repeat;
  color: transparent!important;
}
